@inherits LayoutComponentBase

<div class="page">
    <main>

        <div style="padding:10px; background-color: lightgray;">
            <a href="/">Home</a> |
            <a href="/register">Register</a> |
            <a href="/login">Login</a> |
            <a href="/users">Users</a>
        </div>

        <div class="content px-4">
            @Body
        </div>

    </main>
</div>